@-webkit-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@-moz-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@-o-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
.test {
  background: #3d3d3d;
  font-size: 24px;
  font-weight: bold;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
}

@keyframes fly {
  0% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}
.box {
  background-color: ff0;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 20pt;
  border: 1px #3d3d3d solid;
  animation: fly 1400ms;
}
